@model List<EmployeeManagement.Models.Employee>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>
    <a href="/Employee/Create">Create new Employee</a>
    <table class="Table">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>BirthPlace</th>
        </tr>
        @foreach ( var item in Model)
            {
    <tr>
        <td>@item.Id</td>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Address</td>
        <td>@item.BirthPlace</td>
        @*<a href="/Employee/Edit/@item.Id"></a>*@
    </tr>
            }
    </table>